{% comment %} {% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form>
{% endblock %} {% endcomment %}


{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static './css/style.min.css' %}">
</head>

<body>
    <div class="layer"></div>
<main class="page-center">
    <article class="sign-up">
    <h1 class="sign-up__title">Welcome back!</h1>
    <p class="sign-up__subtitle">Sign in to your account to continue</p>
    <form class="sign-up-form form" action="" method="POST">
        {% csrf_token %}
        <div class="form-checkbox-wrapper">
        <label for="username">Username </label>
            <input class="form-input" type="username" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter your username" required>
        </label>
        </div>
        <div class="form-checkbox-wrapper">
        <label for="password">Password</label>
            <input class="form-input" type="password" id="password" name="password" placeholder="Enter your password" required>
        </label>
        </div>
        <div class="form-checkbox-wrapper">
            <input class="form-checkbox" type="checkbox" id="customCheck" name="remember_me" required>
            <label class="form-checkbox-label" for="customCheck">Remember Me</label>
    </div>
        <button type="submit" class="form-btn primary-default-btn transparent-btn">Log in</button>
    </form>
    <hr>
    </article>
</main>
<!-- Chart library -->
<script src="{% static './plugins/chart.min.js' %}"></script>
<!-- Icons library -->
<script src="{% static './plugins/feather.min.js' %}"></script>
<!-- Custom scripts -->
<script src="{% static './js/script.js' %}"></script>
</body>

</html>